@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
} 

main {
    width: 100%;
    text-align: center;
}

button {
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: auto;
}

li {
    width: fit-content;
}

input {
    margin-right: 1em;
}

// input:nth-last-of-type(), input:nth-last-of-type(2) {
//     margin-right: 0;
// }

h3 {
    font-weight: normal;
}

.add-player {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

@media (max-width: 425px) {
    h1 {
        font-size: 2.5em;
        margin-bottom: -1em;
    }
    h3 {
        font-size: 1.5em;
    }
    li, p {
        font-size: 0.8em;
    }
    li {
        margin-left: 40%;
    }
    ul {
        height: 50vh;
    }
    .add-player {
        bottom: 5%;
    }
}

@media (min-width: 813px) {
    h1 {
        font-size: 5em;
        margin-bottom: -0.5em;
    }
    h3 {
        font-size: 1.5em;
    }
    li, p {
        font-size: 1em;
    }
    li {
        margin-left: 48%;
    }
    ul {
        height: 60vh;
    }
    .add-player {
        bottom: 10%;
    }
}
